[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-sugar = "*"

[packages]
mysqlclient = "*"
falcon = "*"
gunicorn = "*"
alembic = "*"
sqlalchemy = "*"
sqlalchemy-utils = "*"
dictalchemy = "*"

[requires]
python_version = "3.7"
